[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pbr = "*"
doit = "*"
pylint = "*"
macfsevents = {version="*", sys_platform="=='darwin'"}
atomicwrites = {version="*", sys_platform="=='win32'"}

[packages]
resdx = {editable = true,path = "."}